html,
body {
  background-color: #1b1b1b;
}

body {
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  background-size: cover;
  height: 100vh;
  min-height: 1000px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.35);
  filter: dropshadow(color=#000000, offx=1, offy=1);
  overflow: hidden;
}
h1 {
  font-family: "Righteous", cursive;
  letter-spacing: 3px;
  color: #74747432;
  font-size: 15rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
}

/* hardware accelatator class */
.trans3d {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform-style: preserve-3d;
  -ms-transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);

  /*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
}

#contentContainer {
  position: absolute;
  margin-left: -500px;
  margin-top: -500px;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
}

#carouselContainer {
  position: absolute;
  margin-left: -500px;
  margin-top: -500px;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
}

.carouselItem {
  width: 320px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -90px;
  visibility: hidden;
}

.carouselItemInner {
  width: 320px;
  height: 130px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  border: 10px solid rgba(255, 255, 255, 0.5);
  color: aqua;
  font-size: 72px;
  //   left: 50%;
  //   top: 50%;
  //   margin-left: -160px;
  //   margin-top: -90px;
  text-align: center;
  //   padding-top: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
